<div class='histogram-card <%= @classes %>' data-skills-target='classic'>
  <% if @title.present? %>
    <h5 class="text-center"><%= @title %></h5>
  <% end %>
  <div class='row g-0'>
    <% @categories.each do |k,v| %>
      <div class='col-6'>
        <p><%= k %></p>
      </div>
      <div class='col-6 position-relative'>
        <div class='bar bar-bg'></div>
        <div class='bar slider-<%= v %>'></div>
      </div>
    <% end %>
  </div>
</div>
