<div class='histogram-card text-center <%= @classes %>' data-skills-target='classic'>
  <% if @title.present? %>
    <h5><%= @title %></h5>
    <% end %>
  <div class='row'>
    <% @categories.each do |k,v| %>
      <div class='col-6 text-center'>
        <p><%= k %></p>
      </div>
      <div class='col-6 position-relative'>
        <div class='bar bar-bg'></div>
        <div class='bar slider-<%= v %>'></div>
      </div>
    <% end %>
  </div>
</div>
