<%= render(Cards::NeonCardComponent.new(whatever:"")) do %>
  <h1>Bonjour Régis</h1>
  <p>Je suis l'ordinateur de bord gérant ton bunker</p>
  <p>Ma mission est de te garder en sécurité ici tout en conservant une joie de vie suffisante malgré la menace exterieure</p>
<% end %>
