.a-none {
  text-decoration: none;
  color: $major-dark;
  &:hover {
    color: $complementary;
  }
}

.dice-wrap {
  height:15rem;
  background-color: $bg-cream-tone;
  border: 1px solid $complementary-lighter;
  border-radius: 0.5rem;
  padding: 0.5rem;
  &:hover {
    .edit-delete {
      opacity: 1;
    }
  }
}

.dice-new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-l);
}

.dice {
  width: calc(100% - 1rem);
  aspect-ratio: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  .text-big {
    font-size: var(--fs-l);
  }
}

.edit-delete {
  background-color: $bg-cream-tone;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  margin: 0.5rem;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.border-red {
  border: 4px solid red;
  background-color: rgb(255, 171, 171);
}

.border-blue {
  border: 4px solid blue;
  background-color: rgb(188, 188, 255);
}

.border-green {
  border: 4px solid green;
  background-color: rgb(186, 255, 186);
}

.border-yellow {
  border: 4px solid yellow;
  background-color: rgb(255, 255, 141);
}
