<div class="intro-wrapper">
  <div class="aside">
    <%= render(Games::Keyboards::ArrowsComponent.new(controller:"escape")) %>
  </div>
  <div data-escape-target="grid" class="intro-grid">
    <% i = 0 %>
    <% map.each do |column| %>
      <% j = 0 %>
      <% column.each do |sprite| %>
        <%= render(Games::Maps::SpriteComponent.new(type:sprite, x: i, y: j)) %>
        <% j += 1 %>
      <% end %>
      <% i += 1 %>
    <% end %>
    <span data-escape-target="character" class="character down"></span>
  </div>
  <div class="aside">
  </div>
</div>
