.card-project {
  height: 300px;
  width: 100%;
  border-radius: 4px;
  background-size: cover;
}

.cm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(centremormal.png);
}

.mpa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(mpa.PNG);
}
