.project-pro {
  aspect-ratio: 16/9;
  width: 100%;
  background-size: cover;
}

.cm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(projects/centremormal.png);
}

.mpa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(projects/mpa.PNG);
}


.games__bento-grid {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;

  .game-card {

    img {
      border: 2px solid $major-dark;
      border-radius: 0.5rem;
      box-shadow: 2px 2px 2px 0 $shadow;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        scale: 1.05;
        cursor: pointer;
      }
    }
  }


  .tictactoe {
    grid-area: 3 / 3 / 5 / 5;
  }

  .escape-game {
    grid-area: 1 / 3 / 3 / 7;
  }

  .dikkenek {
    grid-area: 1 / 1 / 5 / 3;
  }

  .dice-roller {
    grid-area: 8 / 1 / 10 / 5;
  }

  .connect4 {
    grid-area: 3 / 5 / 6 / 7;
  }

  .sliding-puzzle {
    grid-area: 6 / 5 / 8 / 7;
  }

  .react-rpg {
    grid-area: 5 / 1 / 8 / 5;
  }
}

@media (min-width: 40em) {
  .games__bento-grid {
    width: 50%;
  }
}
