<div data-controller='audio' class="audio-pannel">
  <span data-action='click->audio#on' data-audio-target='on' class="btn btn-primary"><i class="fa-solid fa-volume-high"></i></span>
  <span data-action='click->audio#off' data-audio-target='off' class="btn btn-primary"><i class="fa-solid fa-volume-xmark"></i></span>
  <%= audio_tag music, data: { audio_target: 'music'} %>
</div>
