@keyframes gearRotationRight {
  100% {
    transform: rotate(900deg);
  }
}

@keyframes gearRotationLeft {
  100% {
    transform: rotate(-900deg);
  }
}

.frame {
  position: relative;
  padding-top: 100%;
  width: 100%;
  border: $major-dark solid 1px;
  border-radius: 4px;
  background-color: $bg-clear-tone;
  margin-bottom: 1rem;

  .gear-1 {
    position: absolute;
    animation: gearRotationRight linear;
    animation-timeline: scroll();
    rotate: 0;
    top: 0%;
    left: 0%;
    width: 48%;
    height: 48%;
  }

  .gear-2 {
    position: absolute;
    animation: gearRotationLeft linear;
    animation-timeline: scroll();
    rotate: -18deg;
    top: 21%;
    left: 41%;
    width: 40%;
    height: 40%;
  }

  .gear-3 {
    animation: gearRotationRight linear;
    animation-timeline: scroll();
    position: absolute;
    rotate: -6deg;
    top: 55%;
    left: 55%;
    width: 45%;
    height: 45%;
  }
}
