$pure-white: #fff;
$cream-white: #f3f3f3;
$deep-blue: #14074d;
$sky-blue: #72c1e6;
$shadow: #a8a8a8;

$sunset: linear-gradient(90deg, rgba(255, 218, 0, 1) 0%, rgba(255, 38, 0, 1) 100%);
$sunset-round: radial-gradient(circle, rgba(255, 218, 0, 1) 0%, rgba(255, 38, 0, 1) 50%);
