// LIGHT MODE //

$bg-clear-tone: #fbfcff;
$bg-cream-tone: #fcf9f2;

$major-dark: #011c5b;
$major-dark-lighter: #01226f;
$major-light: #8caefd;
$major-light-darker: rgb(116, 157, 253);
$complementary: #fbb40e;
$complementary-lighter: #fcc33e;

$shadow: #a8a8a8;
$sunset: linear-gradient(90deg, rgba(255, 218, 0, 1) 0%, rgba(255, 38, 0, 1) 100%);
$sunset-round: radial-gradient(circle, rgba(255, 218, 0, 1) 0%, rgba(255, 38, 0, 1) 50%);

// DARK MODE //
$dm-black: #1C1D22;
$dm-dark-grey: #2A2B30;

$dm-light-grey: #BCBCBC;


$major-gradient: linear-gradient(90deg, rgba(1, 28, 91, 1) 0%, rgba(140, 174, 253, 1) 100%);
$complementary-gradient: linear-gradient(-90deg, rgba(116, 157, 253, 1) 0%, rgba(251, 180, 14, 1) 100%);
$facebook-gradient: linear-gradient(0deg, rgba(106, 0, 255, 1) 0%, rgba(248, 14, 251, 1) 100%);


// for UI Kit demo
.color {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.bg__major-dark {
  background-color: $major-dark;
}

.bg__major-dark-lighter {
  background-color: $major-dark-lighter;
}

.bg__major-light {
  background-color: $major-light;
}

.bg__major-light-darker {
  background-color: $major-light-darker;
}

.bg__complementary {
  background-color: $complementary;
}

.bg__complementary-lighter {
  background-color: $complementary-lighter;
}

.bg__major-gradient {
  background: $major-gradient;
}

.bg__complementary-gradient {
  background: $complementary-gradient;
}
