.section-1, .section-2, .section-3 {
  padding-bottom: 3rem;
}

.section-1 {
  background-color: $bg-clear-tone;
}

.section-2 {
  background-color: $bg-cream-tone;
}

.section-3 {
  background-color: $dm-black;
}

@media (min-width: 40em) {

  .section-1, .section-2, .section-3 {
      padding-bottom: 6rem;
    }
}
