body {
  h1, h2, h3, h4, p {
    margin: 0;
  }
}

.section-1 {
  background-color: $bg-clear-tone;
}
.section-2 {
  background-color: $bg-cream-tone;
}

.h1-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $major-light;
  height: 10rem;
  width: 100%;

  h1 {
    font-family: var(--ff-handwrite);
    letter-spacing: 1px;
    font-size: var(--fs-xl);
    color: $major-dark;
  }
}

.h2-title {
  position: relative;
  padding: 3rem 0;
  width: 100%;

  h2 {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--ff-handwrite);
    letter-spacing: 8px;
    font-size: var(--fs-l);
    color: $major-dark;
  }

  span {
    position: absolute;
    background: $major-light;
    height: 0.2rem;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
  }
}

.h3-title {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $major-light;
  height: 4rem;
  width: 100%;
  margin: 1rem 0;

  h4 {
    font-family: var(--ff-handwrite);
    font-style: italic;
    font-weight: 200;
    letter-spacing: 12px;
    font-size: var(--fs-xl);
    color: $bg-clear-tone;
    opacity: 0.2;
    text-overflow: clip;
  }

  h3 {
    position: absolute;
    font-family: var(--ff-handwrite);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: var(--fs-m);
    color: $major-dark;
  }
}

.quote-wrapper {
  max-width: 80%;
  margin: 0 auto;

  i {
    color: $major-dark;
    font-size: var(--fs-s);
  }

  p {
    text-shadow: 1px 1px $bg-clear-tone;
    font-family: var(--ff-handwrite);
    font-size: var(--fs-s);
    text-align: center;
    font-style: italic;
  }
}

p {
  font-family: var(--ff-neutral);
  font-size: var(--fs-s);
  color: $major-dark;
}

@media (min-width: 40em) {
  .h2-title {
    padding: 6rem 0;
  }

  .h3-title {
    height: 5rem;
    border-radius: 12px 0 12px 0;

    h3 {
      font-weight: 600;
    }

    h4 {
      letter-spacing: 16px;
      font-size: var(--fs-l);
    }
  }
}
