.dikkenek-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(dikkenek/Dikkenek.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  h1 {
    color: $bg-cream-tone;
    font-size: var(--fs-xl);
  }

  .new-game {
    width: 85%;
    margin: 0 auto;
  }

  .card-dikkenek {
    width: 85%;
    margin: 8px auto;
    background-color: $bg-cream-tone;
    opacity: 0.8;
    border-radius: 8px;
    padding: 8px;
  }
}
