.dikkenek-results {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(dikkenek/Dikkenek.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .red {
    color: red;
  }

  .green {
    color: rgb(0, 180, 0);
  }

  .border-red {
    border: 2px solid red;
  }

  .border-green {
    border: 2px solid rgb(0, 180, 0);
  }
}
