.preview__wrapper {
  height: 40vh;
  aspect-ratio: 16/9;
  border: 2px solide $major-dark;
  border-radius: 1rem;
  overflow: scroll;
  margin: 0 auto;
  cursor: zoom-in;

  .preview__subject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(dikkenek/Dikkenek.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    aspect-ratio: 16/9;
  }
}
