.contact-form {
  background-color: $bg-cream-tone;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 2px $shadow;}

@media (min-width: 40em) {
  .contact-form {
    width: 40vw;
    margin: 0 auto;
  }
}
