@keyframes craneMove {
  0% { opacity: 1; }
  25% { transform: rotateY(90deg); }
  75% { transform: rotateY(0); }
  82%{ opacity: 1; }
  100% {
    opacity: 0.2;
    transform: rotateY(0);
  }
}

@keyframes jsMove {
  15% { opacity: 1; }
  25% {
    left: 25%;
    transform: rotate(0deg);
  }
  75% {
    left: 50%;
    transform: rotate(10deg);
  }
  95% { transform: rotate(-2deg); }
  100% {
    opacity: 1;
    left: 55%;
    transform: rotate(0);
  }
}

@keyframes rubyMove {
  100% { left: 30%; }
}

@keyframes postgreMove {
  100% { top: 80%; }
}

@keyframes railsMove {
  100% { left: 80%; }
}

@keyframes htmlcssMove {
  100% { transform: scale(1); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 0 }
  100% { opacity: 100%;}
}

.wall {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border: $deep-blue solid 1px;
  border-radius: 4px;
  background-color: $pure-white;
  overflow: hidden;
  margin-bottom: 12px;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 12px;
    background-color: $cream-white;
    border: $deep-blue solid 1px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $pure-white;
    }
  }

  .brick {
    position: absolute;
    height: 20%;
    width: 20%;
  }

  .ruby {
    top: 80%;
    left: -20%;
    animation: rubyMove 0.6s ease-in forwards;
  }

  .postgre {
    top: -20%;
    left: 55%;
    animation: postgreMove 0.6s ease-in 0.7s forwards;
  }

  .rails {
    top: 80%;
    left: 120%;
    animation: railsMove 0.6s ease-in 1.4s forwards;
  }

  .html {
    top: 60%;
    left: 42.5%;
    transform: scale(0);
    animation: htmlcssMove 0.6s linear 2.1s forwards;
  }

  .css {
    top: 60%;
    left: 67.5%;
    transform: scale(0);
    animation: htmlcssMove 0.6s linear 2.3s forwards;
  }

  .js {
    top: 39%;
    left: 25%;
    opacity: 0;
    animation: jsMove 2.9s linear 3s forwards;
  }

  .crane {
    height: 97%;
    position: absolute;
    top: 3%;
    left: 7%;
    transform: rotateY(90deg);
    transform-origin: 33%;
  }

  .crane-move { animation: craneMove 3.5s linear 3s forwards; }

  .fade-in { animation: fadeIn 8s linear forwards; }
}
