<%= render(Navigations::NavigationComponent.new) %>
<%= render(Titles::H1titleComponent.new(title: t('puzzle.title') )) %>
<div class="section-2">
  <div class="container">
    <%= @puzzle.value %>
  </div>
</div>
