@keyframes nav-item-in {
  100% {
    right: 0;
  }
}

@keyframes nav-item-out {
  0% {
    right: 0;
  }
  100% {
    right: 110%;
  }
}
@keyframes nav-item-out-large-screen {
  0% {
    right: 0;
  }
  100% {
    right: - 110%;
  }
}

.background-navigation {
  position: fixed;
  left: -100vw;
  width: 100vw;
  min-height: 100vh;
  z-index: 99;
}

.navigation-wrapper {
  width: 90vw;
  right: 5vw;
  top: 5vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 100;

  .flag {
    background-color: $bg-clear-tone;
    height: 6vw;
    width: auto;
    margin: 2vw 4px 4px 0;
    border-radius: 2px;
  }

  .nav-button {
    background-color: $major-dark;
    width: 10vw;
    height: 10vw;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    i {
      color:$bg-cream-tone;
      font-size: x-large;
    }
  }

  .navigation {
    width: 100%;
    overflow: hidden;

    .nav-item {
      position: relative;
      border: 1px solid $major-dark;
      border-radius: 2px;
      width: 100%;
      padding: 6px;
      margin: 2px 0;
      text-align: center;

      h2 {
        font-size: var(--fs-m);
        font-family: var(--ff-handwrite);
      }
    }

    .non-selected {
      background-color: $bg-cream-tone;
      border: 1px solid $major-dark;

      h2 {
        color: $major-dark;
      }
    }

    .selected {
      background-color: $major-dark;
      border: 1px solid $bg-cream-tone;
      h2 {
        color: $bg-cream-tone;
      }
    }

    a {
      text-decoration: none;
    }
    .item1 {
      right: -100%;
    }

    .item2 {
      right: -120%;
    }

    .item3 {
      right: -140%;
    }

    .item4 {
      right: -160%;
    }

    .item5 {
      right: -180%;
    }

    .item6 {
      right: -250%;
    }

    .open-animation {
      animation: nav-item-in 0.7s ease-in-out forwards;
    }

    .close-animation {
      animation: nav-item-out 0.5s ease-in-out forwards;
    }
  }
}

@media (min-width: 40em) {
  .navigation-wrapper {
    width: 20vw;
    right: 2vw;
    top: 2vw;

    .flag {
        height: 2.5vw;
        width: auto;
        margin: 0.75vw 6px 6px 0;
        cursor: pointer;
      }

    .nav-button {
      width: 4vw;
      height: 4vw;
      border: 1px solid $major-dark;
      cursor: pointer;

      &:hover {
        background-color: $bg-cream-tone;

        i {
          color: $major-dark;
        }
      }

      i {
        font-size: xx-large;
      }
    }
    .navigation {

      .non-selected:hover {
        background-color: $bg-clear-tone;
      }

      .selected:hover {
        background-color: $major-dark-lighter;
      }

      .close-animation {
        animation: nav-item-out-large-screen 0.5s ease-in-out forwards;
      }

      h2 {
        color: $major-dark;
      }
    }
  }
}
