.btn-cta {
  text-align: center;
  padding: 0.5rem 1rem;
  min-width: 4rem;
  border-radius: 4px;
  font-size: var(--fs-xs);
}

.btn-light {
  background-color: $major-light;
  border: $major-dark solid 2px;

  &:hover {
    background-color: $major-light-darker;
    color: $bg-cream-tone;
  }
}

.btn-dark {
  background-color: $major-dark;
  border: $major-dark solid 2px;
  color: $bg-cream-tone;

  &:hover {
    background-color: $major-dark-lighter;
      border: $major-light solid 2px;
  }
}

.btn-complementary {
  background-color: $complementary;
  border: $major-dark solid 2px;
  color: $bg-clear-tone;

  &:hover {
    background-color: $complementary-lighter;
    color: $major-dark;
  }
}

.btn-big {
  padding: 1rem 2rem;
  min-width: 10rem;
  font-size: var(--fs-s);
}
