<main class='launcher container text-center'>
  <h1>Risk new</h1>
  <div class='d-flex h-35'>
    <div class='box player-select'>
      <h2>Add players</h2>
      <%= render 'games/players/index', players: @players %>
      <% if @players.size < 4 %>
        <%= render 'games/players/new', player: @player, risk: @risk %>
      <% else %>
        <p>La Partie est complète ! (4 joueurs maximum)</p>
      <% end %>
    </div>
    <div class='box option-select'>
      <h2>Select options</h2>
    </div>
  </div>
  <div class='d-flex h-55'>
    <div class='box map-select'>
      <h2>Choose map</h2>
    </div>
    <%= link_to games_risk_path(@risk), class: 'box launch-select', data: { 'turbo_method': :patch } do %>
      <h2>Launch game</h2>
    <% end %>
  </div>
</main>
