.paragraph-wrapper {
  width: 90%;
  margin: 0.5rem auto;
}

p {
  font-family: var(--ff-neutral);
  font-size: var(--fs-xs);
  color: $major-dark;
}

@media (min-width: 40em) {
  .paragraph-wrapper {
    width: 60%;
    margin: 1rem auto;
  }
}
