.arrow-buttons {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;

  .button {
    position: absolute;
    background-color: $dm-dark-grey;
    width: 30%;
    height: 45%;
    border-radius: 4px;
    box-shadow: 4px 2px 4px $dm-light-grey;
    color: $dm-light-grey;
  }

  .arrow-pressed {
    translate: 4px 2px;
    box-shadow: none;
    border: 2px solid black;
  }

  .arrow-up {
    left: 33%;
  }

  .arrow-left {
    top: 50%;
  }

  .arrow-down {
    top: 50%;
    left: 33%;
  }

  .arrow-right {
    top: 50%;
    left: 66%
  }
}
