<div data-controller="components--others--preview" class="preview__wrapper">
  <div data-action="mousedown->components--others--preview#drag mouseover->components--others--preview#zoom"
       data-components--others--preview-target="preview"
       class="preview__subject">
      <%= content %>
  </div>
</div>
