.intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .intro-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(9, 32px);
    border: 2px solid $dm-light-grey;
    background-color: $dm-dark-grey;

    .character {
      position: absolute;
      top: 32px;
      left: 32px;
      height: 32px;
      aspect-ratio: 1/1;
    }

    .down {
      background-image: url('games/Bunny-down.png');
    }
    .up {
      background-image: url('games/Bunny-up.png');
    }
    .left {
      background-image: url('games/Bunny-left.png');
    }
    .right {
      background-image: url('games/Bunny-right.png');
    }
  }

  .aside {
    width: 15%;
    margin: 0 auto;
  }
}
