@keyframes reveal-content {
  100% {
    height: auto;
  }
}

.collapsed-card {
  background: $bg-cream-tone;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 2px $shadow;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;

  .details {
    transition: all 0.4s ease-in-out;
  }

  .hidden {
    max-height: 0;
    opacity: 0;
  }

  .revealed {
    max-height: 100vh;
    opacity: 1;
  }

  i {
    font-size: var(--fs-m);
  }

  p {
    font-size: var(--fs-xs);
  }
}
