<div class='row'>
  <% @skills.each do |skill| %>
    <div class='col-12 col-md-4 card-skills-wrapper'>
      <div class='h3-title'>
        <h4><%= t(skill['title']) %></h4>
        <h3><%= t(skill['title']) %></h3>
        <% skill.delete('title')  %>
      </div>
      <div class='card-skills'>
        <% skill.each do |k,v| %>
          <div class='row'>
            <div class='col-5 text-center'>
              <p><%= k %></p>
            </div>
            <div class='col-7 position-relative'>
              <div class='bar bar-bg'></div>
              <div class='bar slider-<%= v %>'></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
