<main>
  <nav>
    <%= render "components/navigation"  %>
  </nav>
  <div class="h1-title">
    <h1>Contact</h1>
  </div>
  <section class="section-1">
    <div class="h2-title">
      <span></span>
      <h2>Contact</h2>
    </div>
    <div class="container">
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-instagram"></i>
      <%= link_to 'Codingame','https://www.codingame.com/profile/4f80d3223829cd144c55b46f7e96eaea8214325', target: :_blank %>
      <%= link_to 'Malt', 'https://www.malt.fr/profile/remitondeux', target: :_blank %>
      <i class="fa-solid fa-mug-saucer"></i>
      <i class="fa-regular fa-handshake"></i>

      <p>Let's meet to discuss !</p>
    </div>
  </section>
  <section class="section-2">
    <div class="h2-title">
      <span></span>
      <h2>Mentions légales</h2>
    </div>
    <h3>Images</h3>
    <p>Grégory Ferreux</p>
    <p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io"</p>
    <p>Sound Effect from <a href='https://pixabay.com/'>Pixabay</a></p>
  </section>
  <section class="section-1">
    <div class="h2-title">
      <span></span>
      <h2>Données personnelles</h2>
    </div>
    <div class="h2-title">
      <h2></h2>
    </div>
  </section>
</main>
