<h1>Contact</h1>
<nav>
  <%= render "navigation"  %>
</nav>
<main>
  <section class="contact">
  </section>
  <section>
    <h2>Mentions légales</h2>
    <h3>Images</h3>
    <p>Grégory Ferreux</p>
    <p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io"</p>
    <h2>Données personnelles</h2>
    <h2></h2>
  </section>
</main>
