<main>
  <nav>
    <%= render "navigation"  %>
  </nav>
  <div class="container">
    <h1>Contact</h1>
    <section class="contact">
      <p>Instagram / Linkedin / Github</p>
    </section>
    <section>
      <h2>Mentions légales</h2>
      <h3>Images</h3>
      <p>Grégory Ferreux</p>
      <p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io"</p>
      <h2>Données personnelles</h2>
      <h2></h2>
    </section>
  </div>
</main>
