<main>
  <nav>
    <%= render 'navigation'  %>
  </nav>
  <div class="container">
    <h1><%= t('title_cv') %></h1>
    <section>
      <%= link_to 'CV en PDF', '/RT_CV_RoR.pdf', target: :_blank %>
    </section>
    <section>
        <%= render 'fog_of_war'  %>
    </section>
  </div>
</main>
