<%= render(Titles::H1titleComponent.new(title: 'Tic Tac Toe' )) %>
<div class='section-1'>
  <div class='container' data-controller='morbac'>
    <% case @morbac.gameover %>
    <% when 0 %>
      <p>Player has won !</p>
    <% when 1 %>
      <p>AI has won !</p>
    <% when 2 %>
      <p>Play Tic Tac Toe !</p>
    <% end %>
    <div class='row morbac-wrapper'>
      <% i = 0 %>
      <% @morbac.value.each do |t| %>
        <%= link_to games_morbac_path(pos: i), class: 'col-4', data: { turbo_method: :patch } do %>
          <div class='morbac-tile' data-action='click->morbac#select'>
            <% if t == 0 %>
              <i class='fa-regular fa-circle'></i>
            <% elsif t == 1 %>
              <i class='fa-solid fa-xmark'></i>
            <% end %>
          </div>
        <% end %>
        <% i += 1 %>
      <% end %>
    </div>
    <%= link_to 'Reset', games_morbac_path(reset: true), class:'btn-cta btn-light', data: { turbo_method: :patch } %>
  </div>
</div>
