<main>
  <nav>
    <%= render 'pages/navigation' %>
  </nav>
  <div class="container">
    <h1><%= t('title_project') %></h1>
  <section>
    <%= render 'fog_of_war'  %>
  </section>
  </div>
</main>
