<div class='avatar-wrapper' data-controller='avatar'>
  <%= image_tag 'philosophy/RemBG_2.jpg', class: 'avatar', data: { action: 'click->avatar#bgtolul', avatar_target: 'bg'} %>
  <%= image_tag 'philosophy/RemLul2.jpg', class: 'avatar backward', data: { action: 'click->avatar#lultobg animationend->avatar#animationend', avatar_target: 'lul'} %>
  <span class='disk' data-avatar-target='disk' ></span>
</div>
