.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(banner.jpg);
  height: 100vh;
  background-position: 63% 75%;
  background-size: cover;

  h1 {
    font-family: var(--ff-handwrite);
    letter-spacing: 2px;
    font-size: var(--fs-xl);
    color: $bg-clear-tone;
    text-shadow: 0 0 2px black;
    margin-bottom: 0.8rem;
  }

  p {
    font-family: var(--ff-handwrite);
    font-size: var(--fs-m);
    color: $bg-clear-tone;
    text-shadow: 0 0 2px black;
  }

  strong {
    color: #C60000; // RoR color
  }
}

@media (min-width: 40em) {
  .banner {
    background-position: center;
    padding-left: 3rem;

    h1 {
      margin-bottom: 1rem;
    }
  }
}
