<%= render(Navigations::NavigationComponent.new) %>
<%= render(Titles::H1titleComponent.new(title: t('tournament.title') )) %>
<%= render(Titles::H2titleComponent.new(title: t('tournament.tournament') )) %>
<p>select type : championship / tournament / double elimination</p>
<%= render(Titles::H2titleComponent.new(title: t('tournament.teamdraft') )) %>
