<h2>Consignes</h2>
<p>Bienvenue <%= pseudo %></p>
<p>10 citations, trouve le personnage et le moment dans le film. Attention le jeu est chronometré !</p>
<%= link_to 'Jouer', games_dikkenek_path(@dikkenek), class: "btn-cta btn-dark", data: { turbo_method: :put } %>
