<div class="claudy-instructions d-flex justify-content-center align-items-end">
  <h2>Tchao <%= pseudo %> !</h2>
</div>
<div class="instructions d-flex flex-column justify-content-around">
  <p><strong>Je vais te dire, moi, c'que tu dois faire toi !</strong></p>
  <div>
    <p>10 citations tirées au sort parmi plus de 800 grâce à internet, tu dois trouver :</p>
    <p><strong>le personnage qui prononce ces mots</strong> et <strong>le moment dans le film</strong></p>
  </div>
  <div>
    <p>Une fois tes réponses collectées et encodées dans la machine, ça part directement dans un système de calcul de scoring.</p>
  </div>
  <div>
    <p>Réponds vite pour marquer plus de points.</p>
    <p>Une pondération est faite en fonction de la notoriété des citations, c'est le pot belge comme on dit !</p>
  </div>
  <p>Maintenant tu cliques sur le bouton.</p>
  <p><strong>Faut pas commencer à jouer avec mes couilles !</strong></p>
  <%= link_to 'Jouer', games_dikkenek_path(@dikkenek), class: "btn btn-cta btn-dark btn-large", data: { turbo_method: :put } %>
</div>
