.dikkenek-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(dikkenek/Dikkenek.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  h1 {
    color: $bg-cream-tone;
    font-size: var(--fs-xl);
  }

  .h-full {
    height: 100%;
  }

  .new-game {
    width: 85%;
    margin: 0 auto;
  }

  .card-dikkenek {
    width: 85%;
    margin: 8px auto;
    background-color: $bg-cream-tone;
    opacity: 0.8;
    border-radius: 8px;
    padding: 8px;
  }
}

.claudy-instructions {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(dikkenek/Instructions.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;

  h2 {
    color: $bg-cream-tone;
    font-size: var(--fs-l);
    margin-bottom: 16px;
  }
}

.instructions {
  padding: 8px;
  height: 60vh;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.dikkenek-progress {

  .dikkenek-selected {
      border: 3px solid $complementary;
      transform: scale(1.1);
    }

    .dikkedek-range {
      width: 100%;
    }

    .dikkenek-stepper {
      height: 10vh;
    }

    .dikkenek-quotes-wrapper {
      height: 90vh;
    }

    i {
      font-size: var(--fs-l);
    }
}

.btn-dikkenek {
  width: 100%;
  padding: 16px;
  background-color: $major-dark;
  color: $bg-cream-tone;
  font-size: var(--fs-m);
}

.dikkenek-avatar {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 10%;
  margin-bottom: 4px;
}
