@keyframes ai-play {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1.2;
    opacity: 1;
  }
}

.instruction {
  p {
    font-family: var(--ff-geek);
  }
}

.side-text {
  max-width: 80%;
  margin: 0 auto;
}

.morbac-wrapper {
  width: 80%;
  aspect-ratio: 1;
  margin: 0 auto;
  border: 2px solid $major-dark;

  .morbac-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: $bg-clear-tone;
    border: 2px solid $major-dark;
  }

  a {
    text-decoration: none;
    i {
      font-size: var(--fs-l);
    }

    .player-sign {
      color: $major-dark;
    }

    .ai-sign {
      color: $complementary;
    }

    .ai-last-play {
      animation: ai-play 0.5s linear forwards
    }
  }
}
