.p4-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  .instruction {
    p {
      font-family: var(--ff-geek);
    }
  }

  a {
    text-decoration: none;
  }

  .column {
    width: 10% ;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid $major-dark;
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: $bg-cream-tone;
    border: 1px solid $major-dark;

    span {
      width: 75%;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    .player-1 {
      background-color: $major-dark;
    }

    .player-2 {
      background-color: $complementary;
    }
  }
}
