
@keyframes token-fall-0 {
  0% {
    position: absolute;
    top: -72vw;
  }
}
@keyframes token-fall-1 {
  0% {
    position: absolute;
    top: -60vw;
  }
}
@keyframes token-fall-2 {
  0% {
    position: absolute;
    top: -48vw;
  }
}
@keyframes token-fall-3 {
  0% {
    position: absolute;
    top: -36vw;
  }
}
@keyframes token-fall-4 {
  0% {
    position: absolute;
    top: -24vw;
  }
}
@keyframes token-fall-5 {
  0% {
    position: absolute;
    top: -12vw;
  }
}
@keyframes token-fall-md-0 {
  0% {
    position: absolute;
    top: -36vw;
  }
}
@keyframes token-fall-md-1 {
  0% {
    position: absolute;
    top: -30vw;
  }
}
@keyframes token-fall-md-2 {
  0% {
    position: absolute;
    top: -24vw;
  }
}
@keyframes token-fall-md-3 {
  0% {
    position: absolute;
    top: -18vw;
  }
}
@keyframes token-fall-md-4 {
  0% {
    position: absolute;
    top: -12vw;
  }
}
@keyframes token-fall-md-5 {
  0% {
    position: absolute;
    top: -6vw;
  }
}

.connect4-wrapper {
  width: 100%;
  min-height: 50vh;

  .instruction {
    p {
      font-family: var(--ff-geek);
    }
  }

  a {
    text-decoration: none;
  }

  .p1 {
    color: $major-dark;
  }

  .p2 {
    color: $complementary;
    text-shadow: 0 0 1px black;
  }

  .connect4 {
    width: 84vw;
    margin: 0 auto;
    border: 1px solid $major-dark;

    .column {
      width: 100% ;
      display: flex;
      flex-direction: column-reverse;
      border: 1px solid $major-dark;
      background-color: $bg-cream-tone;

      &:hover {
        background-color: rgb(205, 205, 205);
      }
    }

    .cell {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      border: 1px solid $major-dark;

      span {
        width: 75%;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      .p1 {
        background-color: $major-dark;
      }

      .p2 {
        background-color: $complementary;
      }

      .token-0 {
        top: 0;
        animation: token-fall-0 0.6s linear forwards;
      }
      .token-1 {
        top: 0;
        animation: token-fall-1 0.5s linear forwards;
      }
      .token-2 {
        top: 0;
        animation: token-fall-2 0.4s linear forwards;
      }
      .token-3 {
        top: 0;
        animation: token-fall-3 0.3s linear forwards;
      }
      .token-4 {
        top: 0;
        animation: token-fall-4 0.2s linear forwards;
      }
      .token-5 {
        top: 0;
        animation: token-fall-5 0.1s linear forwards;
      }
    }
  }
}

@media (min-width: 40em) {
  .connect4-wrapper {

    .connect4 {
      width: 42vw;

      .cell {
        .token-0 {
          animation: token-fall-md-0 0.6s linear forwards;
        }

        .token-1 {
          animation: token-fall-md-1 0.5s linear forwards;
        }

        .token-2 {
          animation: token-fall-md-2 0.4s linear forwards;
        }

        .token-3 {
          animation: token-fall-md-3 0.3s linear forwards;
        }

        .token-4 {
          animation: token-fall-md-4 0.2s linear forwards;
        }

        .token-5 {
          animation: token-fall-md-5 0.1s linear forwards;
        }
      }
    }
  }
}
