.puzzle-wrapper {

  .puzzle {
    display: grid;
    border: 2px solid $major-dark;

    .puzzle-tile {
      border: 1px solid $major-dark;
      aspect-ratio: 1/1;
      background-color: $bg-clear-tone;
    }

    .tile-zero {
      background-color: $major-light;
    }
  }

  .size-5 {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, 1fr);
  }

  .size-4 {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, 1fr);
  }

  .size-3 {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 40em) {

  .puzzle {
    margin: 0 auto;
    width: 30%;
  }
}
