.puzzle-new {
  margin: 0 auto;
  width: 60%;
}

.best-scores {
  margin: 0 auto;
  width: 60%;
  border-radius: 0.5rem;
  border: 2px solid $major-dark;
  background-color: $bg-clear-tone;
}

.puzzle-wrapper {

  .puzzle {
    display: grid;
    border: 2px solid $major-dark;

    .puzzle-tile {
      border: 1px solid $major-dark;
      aspect-ratio: 1/1;
      background-color: $bg-clear-tone;
      background-size: cover;
    }

    .tile-3-0, .tile-4-0, .tile-5-0 {
      background-color: $major-dark;
    }

    @for $i from 3 through 5 {
      @for $j from 1 through 24 {

        .tile-#{$i}-#{$j} {
          background-image: url('games/puzzle/#{$i}-#{$j}.png');
        }
      }
    }
  }

  .size-5 {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, 1fr);
  }

  .size-4 {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, 1fr);
  }

  .size-3 {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 40em) {

  .puzzle, .puzzle-new {
    margin: 0 auto;
    width: 30%;
  }
}
