.map-container {
  width: 90%;
  margin: 0 auto;

  .line:nth-child(odd) { margin-left: 2.5%; }
  .line:nth-child(even) { margin-right: 2.5%; }

  .line {
    display: flex;
    justify-content: center;
    margin-bottom: -0.5%;

    a {
      width: 5%;

      .tile {
        position: relative;
        display: block;
        aspect-ratio: 1/1;
        clip-path: polygon(5% 75%, 5% 25%, 50% 0%, 95% 25%, 95% 75%, 50% 100%);
        cursor: pointer;
      }

      .wood {
        background-color: rgb(0, 211, 141);
      }

      .field {
        background-color: rgb(255, 246, 127);
      }

      .rock {
        background-color: rgb(177, 177, 177);
      }

      .clay {
        background-color: rgb(255, 149, 50)
      }

      .water {
        background-color: rgb(160, 255, 255);
      }
    }
  }
}
