<main class='launcher container text-center'>
  <h1>Risk new</h1>
  <div class='d-flex h-35'>
    <div class='box player-select'>
      <h2>Add players</h2>
      <%= render 'players/index'%>
      <%= render 'players/new' %>
    </div>
    <div class='box option-select'>
      <h2>Select options</h2>
    </div>
  </div>
  <div class='d-flex h-55'>
    <div class='box map-select'>
      <h2>Choose map</h2>
    </div>
    <%= link_to risks_path, class: 'box launch-select', data: { turbo_method: :post } do %>
      <h2>Launch game</h2>
    <% end %>
  </div>
</main>
