<div class='timeline'>
  <% i = 1 %>
  <% education.each do |k,v| %>
    <div class='items-wrapper'>
      <% if i.odd? %>
        <div class='item left'>
          <p><%= k %></p>
        </div>
        <div class='item right'>
          <div class="card-timeline">
            <h5><%= v %></h5>
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.</p>
          </div>
        </div>
      <% else %>
        <div class='item left'>
          <div class="card-timeline">
            <h5><%= v %></h5>
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.</p>
          </div>
        </div>
        <div class='item right'>
          <p><%= k %></p>
        </div>
      <% end %>
    </div>
    <% i += 1 %>
  <% end %>
</div>
