<div class='timeline'>
  <% i = 1 %>
  <% experiences.each do |k,v| %>
    <div class='items-wrapper'>
      <% if i.odd? %>
        <div class='item left'>
          <p><%= v['start'].year %></p>
        </div>
        <div class='item right'>
          <%= render(Cards::CollapsedCardComponent.new(classes: "appearing-wrapper", title: v['job'], subtitle: v['company'], info: v['place'], description: v['description'])) %>
        </div>
      <% else %>
        <div class='item left'>
          <%= render(Cards::CollapsedCardComponent.new(classes: "appearing-wrapper", title: v['job'], subtitle: v['company'], info: v['place'], description: v['description'])) %>
        </div>
        <div class='item right'>
          <p><%= v['start'].year %></p>
        </div>
      <% end %>
    </div>
    <% i += 1 %>
  <% end %>
</div>
