<div data-controller='wheel'>
  <div class='d-flex justify-content-center'>
    <div data-action='click->wheel#previous' class='btn btn-primary'><<</div>
    <div data-action='click->wheel#random' class='btn btn-success'>Random</div>
    <div data-action='click->wheel#next' class='btn btn-danger'>>></div>
  </div>
  <div data-action='transitionend->wheel#text' class='wheel-wrapper'>
    <div data-wheel-target='wheel' class='wheel'>
      <div class='minilogo pos-1'>
        <i class='fa-solid fa-leaf'></i>
      </div>
      <div class='minilogo pos-2'>
        <i class='fa-solid fa-gamepad'></i>
      </div>
      <div class='minilogo pos-3'>
        <i class='fa-solid fa-hand-fist'></i>
      </div>
      <div class='minilogo pos-4'>
        <i class='fa-solid fa-person-hiking'></i>
      </div>
      <div class='minilogo pos-5'>
        <i class='fa-solid fa-mountain-sun'></i>
      </div>
      <div class='minilogo pos-6'>
        <i class='fa-solid fa-route'></i>
      </div>
      <div class='minilogo pos-7'>
        <i class='fa-solid fa-handshake-angle'></i>
      </div>
      <div class='minilogo pos-8'>
        <i class='fa-solid fa-basketball'></i>
      </div>
    </div>
    <div class='text-area'>
      <% hobbies.each do |k,v| %>
      <div data-wheel-target='text' class='d-none'>
        <h5><%= v.first %></h5>
        <p><%= v.last %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
