<div data-controller='wheel'>
  <div class='d-flex justify-content-center align-items-center'>
    <div data-action='click->wheel#previous' class='btn'>
      <%= render(Buttons::CtaComponent.new(title: '<<', classes: 'btn-complementary' )) %>
    </div>
    <div data-action='click->wheel#random' class='btn'>
      <%= render(Buttons::CtaComponent.new(title: I18n.t("hobby.button"), classes: 'btn-light btn-big' )) %>
    </div>
    <div data-action='click->wheel#next' class='btn'>
      <%= render(Buttons::CtaComponent.new(title: '>>', classes: 'btn-complementary' )) %>
    </div>
  </div>
  <div class='wheel-wrapper'>
    <div data-wheel-target='background' class="wheel-background d-none roadtrip"></div>
    <div data-wheel-target='background' class="wheel-background trail"></div>
    <div data-wheel-target='background' class="wheel-background d-none politic"></div>
    <div data-wheel-target='background' class="wheel-background d-none videogame"></div>
    <div data-wheel-target='background' class="wheel-background d-none ecology"></div>
    <div data-wheel-target='background' class="wheel-background d-none volunteering"></div>
    <div data-wheel-target='wheel' class='wheel'>
      <div class='minilogo pos-1'>
        <i class='fa-solid fa-leaf'></i>
      </div>
      <div class='minilogo pos-2'>
        <i class='fa-solid fa-gamepad'></i>
      </div>
      <div class='minilogo pos-3'>
        <i class='fa-solid fa-hand-fist'></i>
      </div>
      <div class='minilogo pos-4'>
        <i class='fa-solid fa-person-hiking'></i>
      </div>
      <div class='minilogo pos-5'>
        <i class='fa-solid fa-route'></i>
      </div>
      <div class='minilogo pos-6'>
        <i class='fa-solid fa-handshake-angle'></i>
      </div>
    </div>
    <div class='text-area'>
      <% hobbies.each do |k,v| %>
      <div data-wheel-target='text' class='d-none'>
        <h5><%= v %></h5>
      </div>
      <% end %>
    </div>
  </div>
</div>
