<div class="wrapper-languages">
  <div class="position-relative">
    <div class="flag uk"></div>
    <div class="flag fr"></div>
    <div class="flag de"></div>
    <div class="flag esp"></div>
    <div class="flag it"></div>
  </div>
  <div class="level my-3"></div>
</div>
