<div class="wrapper-languages">
  <div class="d-flex">
    <div class="flag uk"></div>
    <div class="flag fr"></div>
    <div class="flag de"></div>
    <div class="flag esp"></div>
    <div class="flag it"></div>
  </div>
</div>
