<div class="d-flex justify-content-between wrapper-languages">
  <% languages.each do |k,v| %>
    <div class="d-flex flex-column justify-content-between">
      <div class='position-relative'>
        <div class='bar bar-bg'></div>
        <div class='bar slider-<%= v %>'></div>
      </div>
      <div class='text-center'>
        <p><%= k %></p>
      </div>
    </div>
  <% end %>
</div>
