<div class="wrapper-languages">
  <div class="pb-5">
    <p>Parler une langue étrangère lorsque l'on rencontre des personnes de nouveaux horizons
       est plus qu'un simple acte de politesse, c'est une ouverture vers l'autre.</p>
    <p>Ces simples mots, bien que parfois maladroits, sont souvent accueillis avec des sourires et une chaleur
        inattendue.</p>
    <p> On montre que l'on valorise sa culture et son histoire. Cela peut transformer une simple interaction
      en un échange riche et mémorable.</p>
    <p>Parler une langue étrangère, ne serait-ce qu'un peu, c'est célébrer notre humanité
    au-delà des frontières et des différences.</p>


  </div>
  <div class="position-relative">
    <div class="flag uk"></div>
    <div class="flag fr"></div>
    <div class="flag de"></div>
    <div class="flag esp"></div>
    <div class="flag it"></div>
  </div>
  <div class="level"></div>
  <div class="texts d-flex justify-content-between pb-3">
    <p>I can say hello</p>
    <p>native language</p>
  </div>
</div>
