.wrapper-languages {
  background: $bg-clear-tone;
  border-radius: 2px;
  box-shadow: 0 1px 2px 2px $shadow;
  display: flex;
  padding: 12px;
  height: 160px;

  .bar {
    position: absolute;
    left: calc(50%-8px);
    width: 16px;
  }

  .bar-bg {
    background: $sunset;
    height: 100px;
  }

  @for $i from 1 through 9 {
    .slider-#{$i} {
      background: $bg-clear-tone;
      height: calc((10 - #{$i})*10px);
    }
  }
}
