.wrapper-languages {

  .flag {
    height: 80px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .uk {
    background-image: url(flags/flagUK.svg);
  }

  .it {
    background-image: url(flags/flagIT.jpg);
  }

  .fr {
    background-image: url(flags/flagFR.svg);
  }

  .esp {
    background-image: url(flags/flagESP.jpg);
  }

  .de {
    background-image: url(flags/flagDE.jpg);
  }
}
