.card-classic {
  background: $cream-white;
  border-radius: 2px;
  box-shadow: 0 1px 2px 2px $shadow;
  display: flex;
  flex-direction: column;
  padding: 12px;

  .bar {
    position: absolute;
    top: 50%;
    right: 0px;
    height: 4px;
  }

  .bar-bg {
    background: $sunset;
    width: 100%;
  }

  @for $i from 1 through 9 {
    .slider-#{$i} {
      background: $cream-white;
      width: calc((10 - #{$i})*10%);
    }
  }
}

.card-radar {
  background: $cream-white;
  border-radius: 26px;
  box-shadow: 0 1px 2px 2px $shadow;
  width: 100%;
  padding-top: 100%;
  position: relative;

  p {
    font-size: var(--fs-xs);
  }

  @for $i from 1 through 5 {
    .radar-bg-#{$i} {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc((6 - #{$i})*12%);
      height: calc((6 - #{$i})*12%);
      border-radius: 50%;
      border: 0.5px solid $deep-blue;
      @if $i % 2 == 1 {
        background: $pure-white;
      } @else {
        background: $cream-white;
      }
    }
  }

  @for $skill from 1 through 12 { // number of skills to display
    @for $j from 1 through $skill { //number of childs

      .label-#{$skill}-#{$j} {
        position: absolute;
        --a: calc(360deg/#{$skill});
        --r: 40%;
        --x: calc(cos(var(--a)*#{$j})*var(--r));
        --y: calc(sin(var(--a)*#{$j})*var(--r));
        top: calc(50% + var(--y));
        left: calc(50% + var(--x));
        transform: translate(-50%, -50%);
      }
    }
  }

  .polygon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: $sunset-round;
    opacity: 0.6;
  }
}
