.timeline {
  margin: 1rem auto;
  max-width: 100%;

  .items-wrapper {
    display: flex;
    align-items: stretch;

    .item {
      position: relative;
      width: 100%;
    }

    .left {
      border-right: 2px solid $deep-blue;
      padding: 2rem 2rem 2rem 0;
      text-align: end;
    }

    .left::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $deep-blue;
      top: 2.5rem;
      right: -6px;
    }

    .right {
      border-left: 2px solid $deep-blue;
      padding: 2rem 0 2rem 2rem;
      text-align: start;
    }

    .card-work {
      height: 4.5rem;
      overflow: hidden;
      border: 1px solid $deep-blue;
      border-radius: 4px;
      padding: 4px;
      text-align: center;
      transition: height 0.4s ease-in-out;
      cursor: pointer;

      i {
        font-size: var(--fs-m);
      }

      p {
        font-size: var(--fs-xs);
      }
    }

    .reveal {
      height: 15rem;
    }
  }
}
