.wheel-wrapper {
  position: relative;

  .wheel-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    border-radius: 50%;
    width: 75%;
    aspect-ratio: 1/1;
  }

  .ecology { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cv/ecology.jpg); }
  .roadtrip { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cv/roadtrip.jpg); }
  .volunteering { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cv/volunteering.jpg); }
  .politic { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cv/politic.jpg); }
  .trail { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cv/trail.jpg); }
  .videogame { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(cv/videogame.jpg); }
  .default  {
    background-color: $major-light;
    border: 1px solid $major-dark;
    box-shadow: 0 1px 2px 2px $shadow;
  }

  .wheel {
    position: relative;
    border-radius: 50%;
    width: 75%;
    aspect-ratio: 1/1;
    margin: 1rem auto;
    rotate: 30deg;
    transition: all 0.5s ease-in-out;


    .minilogo {
      border-radius: 50%;
      position: absolute;
      padding: 8px;

      i {
        font-size: var(--fs-m);
        color: $bg-clear-tone;
        text-shadow: 0 0 2px black;
      }
    }

    @for $i from 1 through 6 {
      .pos-#{$i} {
        --a: calc(360deg/6);
        --r: 42%;
        --x: calc(cos(var(--a)*#{$i})*var(--r));
        --y: calc(sin(var(--a)*#{$i})*var(--r));
        top: calc(50% + var(--y));
        left: calc(50% + var(--x));
        --angle: calc(var(--a)*#{$i} + 90deg);
        transform: translate(-50%, -50%) rotateZ(var(--angle));
      }
    }
  }

  .text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;

    h5 {
      font-size: var(--fs-m);
      font-family: var(--ff-handwrite);
      color: $bg-clear-tone;
      text-shadow: 0 0 2px black;
    }
  }
}

@media (min-width: 40em) {
  .wheel-wrapper{

    .wheel, .wheel-background {
      width: 85vh;
    }

    .text-area {
      width: 60vh;
    }
  }
}
