<%= link_to @path do %>
  <div class='nav-item <%= @number %> <%= current_page?(@path) ? 'selected' : 'non-selected' %>' data-components--navigations--navigation-target='item'>
    <h2><%= @title %></h2>
  </div>
<% end %>
