<div class="table-of-content flex-shrink-1">
  <ul class="sticky-top">
    <h5><%= t('uikit.tableofcontent') %></h5>
    <% @sections.each do |subsection| %>
      <%= link_to constructed_path(@language, @page, t("uikit.#{subsection}")) do %>
        <li data-tableofcontent-target="items"><%=t("uikit.#{subsection.downcase}")%></li>
      <% end %>
    <% end%>
  </ul>
</div>
