.btn-white {
  padding: 6px 12px;
  background-color: $cream-white;
  border: $deep-blue solid 1px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $pure-white;
  }
}

.btn-big {
  padding: 16px 24px;
  margin: 1rem 1rem 0;
}

.bg-sunset {
  background: $sunset;
}

.bg-sunset-r {
  background: $sunset-round;
}
