<%= turbo_frame_tag 'new_dice', class: 'col-6 col-md-2 py-3' do %>
  <%= link_to new_utilities_roll_roll_dice_path(roll), class:'a-none' do %>
    <div class="dice-wrap dice-new">
      <i class="fa-solid fa-plus"></i>
    </div>
  <% end %>
<% end %>
