<div class="map-container">
  <% map.each do |line| %>
    <div class="line">
      <% line.each do |tile| %>
        <span class='tile <%= tile.field %>'></span>
      <% end %>
    </div>
  <% end %>
</div>
