<div class="alerts__banner">
  <div class="d-flex justify-content-between align-items-center">
    <i class="fa-solid fa-code"></i>
    <h3><%= @title %></h3>
    <i class="fa-solid fa-code"></i>
  </div>
  <p class="text-center mt-2"><%= @text %></p>
</div>
